@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");
@import url(reset.css);
@import url(header.css);
@import url(body.css);
@import url(todolist.css);
@import url(water-count.css);
body {
  font-family: "Hubballi", cursive;
  font-size: 20px;
}
.hidden {
  display: none;
}
.background_img img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  z-index: -1;
}
:root {
  --gray: rgba(0, 0, 0, 0.3);
}
