@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");
@import url(reset.css);
@import url(header.css);
@import url(body.css);
@import url(todolist.css);
@import url(water-count.css);
body {
  height: 100vh;
  width: 100%;
  font-family: "Hubballi", cursive;
  font-size: 20px;
  background: linear-gradient(25deg, #ff9aa2, #c7ceea);
}
.hidden {
  display: none;
}
:root {
  --gray: rgba(0, 0, 0, 0.3);
}
